<h1>Games#score</h1>
<h2>The letters were <%= @letters %></h2>
<h2>Your attempt is <%= @attempt %></h2>
<h2> <%= @message %> </h2>
<h2> Your score is <%= @score %></h2>
<h2><%= cookies[:score] %></h2>
